.carousel-caption h2 {
    font-size: 4em;
    text-shadow: black 1px 0px, black 1px 1px, black 0px 1px, black -1px 1px, black -1px 0px, black -1px -1px, black 0px -1px, black 1px -1px;
}

.carousel-caption {
    margin: 5% auto;
    background: rgba(255, 187, 0, 0.8);
    border-radius: 50px;
    font-size: 15pt;
}

.fill {
    height: 300px;
}

.about-image {
    width: 250px;
    float: left;
    margin-right: 20px;
}

.panel-default.facts-block > .panel-heading {
    background-color: rgba(255, 187, 0, 0.7);
}

.honey-body .navbar-inverse .navbar-brand {
    color: white;
}

.honey-body .navbar-inverse .navbar-nav > li > a {
    color: white;
}

.honey-body .navbar-inverse {
    background-color: #dd4814;
}

.honey-logo {
    width: 50px;
}

.honey-body .navbar-brand {
    padding: 0;
}

.contacts-picture{
    width: 250px;
}

p{
    text-align: justify;
}